/*!
 * Start Bootstrap - Portfolio Item (http://startbootstrap.com/template-overviews/portfolio-item)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-portfolio-item/blob/master/LICENSE)
 */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

footer {
	margin-top:55px;
}